.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.new-expense__control label {
  font-weight: bold;
  font-size: 1vw;
  margin-bottom: 0.5rem;
  display: block;
  color: white;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20vw;
  max-width: 100%;
  align-items: center;
}

.new-expense__actions {
  text-align: center;
}

.btn {
  font: inherit;
  font-size: 1.2vw;
  padding: 0.6vw 8vw;
  border: none;
  background-color: #292929;
  color: white;
  border-radius: 0.8vw;
  margin: 1vw;
  transition: 0.75s;
}

.btn:hover {
  transition: 0.75s;
  background-color: #353535;
}
